<launch>    
    <arg name = "server"      default="IP"/>
    <arg name = "list_object" default="['/vrpn_client_node/OBJECT1/pose']"/>
    
    <arg name = "name_base_optitrack"   default="base"/>
    <arg name = "name_base"   default="/vrpn_client_node/BASE/pose"/>

    <!-- vrpn Optitrack -->
    <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen">
        <rosparam subst_value="true">
        server: $(arg server)
        port: 3883
        frame_id: world
        broadcast_tf: true
        # Set as 1000 in order to process any optitrack frquency
        update_frequency: 1000.0
        # Must either specify refresh frequency > 0.0, or a list of trackers to create
        refresh_tracker_frequency: 1.0
        </rosparam>
    </node>
    
    <!-- Transform to robot base -->
    <node name="optitrack_ros_interface" pkg="optitrack_ros_interface" type="optitrack_transform_publisher" output="screen" >
    	<rosparam subst_value="true">
        list_object: $(arg list_object)
        name_base: $(arg name_base)
        name_base_optitrack: $(arg name_base_optitrack)
        </rosparam>
    </node>
</launch>


